

<ul>

<% if user_signed_in? %>
<li>
<%= link_to "SignOut", destroy_user_session_path, method: :delete %>
</li>
<li>
<%= current_user.email %>
</li>
  <% else %>
  <li>
  <%= link_to "SignIn", new_user_session_path %>
  </li>
   <li>
  <%= link_to "SignUp", new_user_registration_path %>
  </li>
<% end %>

</ul>



